body{
    margin-left: 20px;
}

#navbar{
    width: 100%;
    height: 5vw;
    background-color: darkorange;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar a{
    text-decoration: none;
    color: darkred;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#imagem1{
    height: 35vw;
    width: 100%;
    padding-top: 2vw;
}

#secao-texto{
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.col{
    width: 47%;
}


.titulo-index{
    color: blue;
    font-size: 30pt;
}

.listagem{
    text-decoration: none;
    font-size: 15pt;
    color: rgba(50, 43, 148, 0.36);
}

form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
 
}
label{
    font-size: 10pt;
    margin: 10px;
}

#frase{
    height: 90px;
}

#botao{
    width: 20%;
    background-color: rgba(50, 43, 148, 0.36);
    font-weight: bold;
}

#botao:hover{
    background-color: rgba(243, 108, 55, 0.36);
    border: none;
    box-shadow: 5px 5px black;
}

input{
    height: 40px;
    margin: 5px;
    width: 35%;
}

.imagem{
    width: 22%;
    margin: 20px 20px 20px 0px;
}