{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Site</title>
</head>
<body>
<nav id="navbar">
    <a href="/">home</a>
    <a href="/alunos/cadastro">cadastro</a>
    <a href="/alunos/lista">lista</a>
    <a href="login/">login</a>
</nav>

{% if login.context %}
<h4>Bem vindx, {{Usuario.email}}</h4>
{% endif %}


{% block content %}


{% endblock %}


</body>
</html>