{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="imagem1">
    <img src="../static/img/network.jpg" alt="trabalho em equipe" id="imagem-home">
</div>
<section id="secao-texto">
    <div class="col">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, voluptas! Reiciendis totam non unde tenetur, corrupti vel animi. Tenetur et sunt porro amet, aspernatur non dolorum molestias enim quae vel!</p>
    </div>
    <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aliquam animi velit, accusantium labore similique earum nihil odio aspernatur dicta optio architecto enim, quaerat exercitationem atque tenetur nam vero amet!</p>
    </div>
</section>
{% endblock %}